body{
	background-image:url('http://farm4.staticflickr.com/3768/9317012068_ce598f3b92_o.jpg');
	background-size:100%;
	position:absolute;
	background-position:center;
	width:100%;
	min-height:200px;
	}
#Header{
	background-image:url('http://farm4.staticflickr.com/3793/9317012096_c9b6bc57ec.jpg');
	background-repeat:no-repeat;
	background-position:right; 
	background-color:blue; 
	width:100%;
	min-height:85px
	}
#left_column{
    background-image:url('http://farm4.staticflickr.com/3807/9314225261_34d25337ed.jpg');
	width:24%; 
	min-height:375px; 
    text-indent:15px;
	text-align:right;
	opacity: 0.8
		}
	#main_content{ 
		width:67%; 
		min-height:200px;
		 float:right;
		color:#00FFFF;
		opacity:0.6;
		filter:alpha (opacity=100);
		}
	#footer{
		width:100%; 
		min-height:100px; 
		clear:both
		}
		h2.pos_right
		{
		position:relative;
	
		bottom:400px;
		}
	div.transbox3
	  {
	  width:858px;
	  height:1000px;
	  margin:20px 40px;
	  background-color:#f8f8f8;
	  border:5px solid black;
	  opacity:0.8;
	  filter:alpha(opacity=60);
	}
