body{
	background-image:url('http://farm6.staticflickr.com/5442/9314225309_47f1d34272_o.jpg');
	background-size:10%;
	position:absolute;
	background-position:center;
	width:100%;
	min-height:100px;
	}
#Header{
	background-image:url('http://farm4.staticflickr.com/3793/9317012096_c9b6bc57ec.jpg');
	background-repeat:no-repeat;
	background-position:right; 
	width:100%;
	min-height:85px
	}
#left_column{
    background-image:url('http://farm4.staticflickr.com/3807/9314225261_34d25337ed.jpg');
	width:24%; 
	min-height:375px; 
    text-indent:15px;
	text-align:right;
	
	
   
	}
#main_content{ 
	width:67%; 
	min-height:200px;
	 float:right 
	}
#footer{
	width:100%; 
	min-height:100px; 
	clear:both
	}
	h2.pos_right
	{
	position:relative;
	left:20px;
	bottom:400px;
	color:red;
	}
	div.transbox
	  {
	  width:858px;
	  height:120px;
	  margin:30px 50px;
	  background-color:#ff0000;
	  border:5px solid black;
	  opacity:0.9;
	  filter:alpha(opacity=60);
	}

	div.transbox2
	  {
	  width:858px;
	  height:725px;
	  margin:30px 50px;
	  background-color:#ff0000;
	  border:5px solid black;
	  opacity:0.9;
	  filter:alpha(opacity=60);
	}
	div.transbox3
	  {
	  width:100px;
	  height:50px;
	  margin:30px 50px;
	  background-color:#0000ff;
	  border:5px solid black;
	  opacity:0.9;
	  filter:alpha(opacity=60);
	}
